{% extends '/layout.html.twig' %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-4 col-xl-4" id="flag_img">
                <img src="{{ country.Flag }}">
            </div>

            <div class="col-8 col-xl-8 country-name">
                <h1>{{ country.Name }}</h1>
            </div>
        </div>

        <div class="row">

            <div class="meteo col-8 offset-4">
                <div id="WeatherTutiempo">
                    <div class="daydata">
                        <p class="it"><img alt="{{ meteo.day1.text }}" title="{{ meteo.day1.text }}
                " height="50" src="https://v5i.tutiempo.net/wi/01/50/{{ meteo.day1.icon }}.png" width="50">
                            {{ meteo.day1.temperature_max }}&deg;C<br>{{ meteo.day1.temperature_min }}&deg;C</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <blockquote class="description-text">
                    "{{ country.description }}"
                </blockquote>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2>Informations</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 informations">
                <table>
                    <tr>
                        <td>Capitale :</td>
                        <td>{{ country.Capital }}</td>
                    </tr>
                    <tr>
                        <td>Population :</td>
                        <td> {{ country.Population }}</td>
                    </tr>
                    <tr>
                        <td>Langue :</td>
                        <td>{{ language.Name }}</td>
                    </tr>
                    <tr>
                        <td>Monnaie :</td>
                        <td>{{ currency.Name|capitalize }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>Coin cuisine</h2>
            </div>
            <div class="row food-row">
                {% for food in foods %}
                    <div class="col-10 offset-1 col-xl-4">
                        <div class="card">
                            <img src="{{ food.img }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ food.Name }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2>Un peu de musique ?</h2>
            </div>
        </div>
        <div class="row music-row">
            {% for music in musics %}
                <div class="col-12 col-xl-4">
                    <a href="{{ music.url }}">{{ music.Title }} - {{ music.Artist }}</a>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-12">
                <h2>Un peu de culture ?</h2>
            </div>
        </div>
        <div class="row music-row">
            {% for museum in museums %}
                <div class="col-12 col-xl-4">
                    <a href="/museum/show/{{ museum.id }}">{{ museum.name }}</a>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-12">
                <h2>Une petite balade ?</h2>
                <div id="street_view"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2>Une Webcam au hasard</h2>

                <a name="windy-webcam-timelapse-player" data-id="1463700399" data-play="day"
                   href="https://windy.com/webcams/1463700399" target="_blank">Égletons: Egletons</a>
                <script async type="text/javascript"
                        src="https://webcams.windy.com/webcams/public/embed/script/player.js"></script>
            </div>
        </div>
    </div>
{% endblock %}

    {% block javascripts %}
        <script>
            let panorama;

            function initialize() {
                panorama = new google.maps.StreetViewPanorama(
                    document.getElementById('street_view'),
                    {
                        position: {lat: {{ country.lat }}, lng: {{ country.long }}},
                        pov: {heading: 165, pitch: 0},
                        zoom: 1
                    });
            }

        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqeJ3DM3pEmmI5Qyt_qwaqFwhXJUag9Rs&callback=initialize">
        </script>
        {#    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCN5Xou67tRIPRc31tgVd2yY9SQFhaJpUw&callback=initMap"#}
        {#            async defer></script>#}
    {% endblock %}
