{% extends '/layout.html.twig' %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-12 col-xl-2" id="flag_img">
                <img src="{{ country.Flag }}">
            </div>

            <div class="col-12 col-xl-5">
                <h1>{{ country.Name }}</h1>
            </div>

            <div class="meteo col-12 col-xl-2">Meteo</div>

        </div>

        <div class="row">
            <div class="col-12 col-xl-8 offset-xl-2">
                <blockquote class="description-text">
                    "{{ country.description }}"
                </blockquote>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-3 offset-xl-2 informations">
                <table>
                    <tr>
                        <td>Capitale :</td>
                        <td>{{ country.Capital }}</td>
                    </tr>
                    <tr>
                        <td>Population :</td>
                        <td> {{ country.Population }}</td>
                    </tr>
                    <tr>
                        <td>Langue :</td>
                        <td>{{ language.Name }}</td>
                    </tr>
                    <tr>
                        <td>Monnaie :</td>
                        <td>{{ currency.Name|capitalize }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-12 col-xl-6">
                <h2 style="text-align: center;">Coin cuisine</h2>
                <div class="row">
                    {% for food in foods %}
                        <div class="col-6">
                            <div class="card">
                                <img src="{{ food.img }}" height="200px" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ food.Name }}</h5>
                                </div>
                            </div>
                        </div>
<<<<<<< HEAD
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <img src="{{ foods[1]['img'] }}" height="200px" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ foods[1]['dish'] }}</h5>

                            </div>
                        </div>
                    </div>
=======
                    {% endfor %}
>>>>>>> eb71adf12477a577cd980979acbe4ceda5554630
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-4">
                <h2 style="text-align: center;">Un peu de musique ?</h2>
            </div>
        </div>
        {% for music in musics %}
            <div class="col-12 col-xl-4">
                <a href="{{ music.url }}">{{ music.Title }} - {{ music.Artist }}</a>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-12">
                <h2 style="text-align: center;">Une petite balade ?</h2>
                <div id="street_view"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2 style="text-align: center;">Une Webcam au hasard</h2>

                <a name="windy-webcam-timelapse-player" data-id="1463700399" data-play="day"
                   href="https://windy.com/webcams/1463700399" target="_blank">Égletons: Egletons</a>
                <script async type="text/javascript"
                        src="https://webcams.windy.com/webcams/public/embed/script/player.js"></script>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let panorama;

        function initialize() {
            panorama = new google.maps.StreetViewPanorama(
                document.getElementById('street_view'),
                {
                    position: {lat: {{ country.lat }}, lng: {{ country.long }}},
                    pov: {heading: 165, pitch: 0},
                    zoom: 1
                });
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqeJ3DM3pEmmI5Qyt_qwaqFwhXJUag9Rs&callback=initialize">
    </script>
    {#    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCN5Xou67tRIPRc31tgVd2yY9SQFhaJpUw&callback=initMap"#}
    {#            async defer></script>#}
{% endblock %}
