{% extends '/layout.html.twig' %}

{% block content %}

    {% include 'header.html' %}
    <section class="container-fluid">

        <div class="row">

            <div class="col-1" id="flag_img">
                <img src="{{ country.Flag }}">
            </div>

            <div class="col-9">
                <h1>{{ country.Name }}</h1>
            </div>

            <div class="meteo col-2">Meteo</div>
        </div>

        <div class="row">
            <div class="col-4">
                <blockquote class="description-text">
                    "{{ country.description }}"
                </blockquote>
            </div>

            <div class="col-2 offset-6">
                <table>
                    <tr>
                        <td>Capitale</td>
                        <td>{{ country.Capital }}</td>
                    </tr>
                    <tr>
                        <td>Population</td>
                        <td>{{ country.Population }}</td>
                    </tr>
                    <tr>
                        <td>Langue</td>
                        <td>{{ language.Name }}</td>
                    </tr>
                    <tr>
                        <td>Monnaie</td>
                        <td>{{ currency.Name|capitalize }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-4 offset-5">
                <h2 style="text-align: center;">Coin cuisine</h2>
                <div class="row">
                    {% for food in foods %}
                        <div class="col-6">
                            <div class="card">
                                <img src="{{ food.img }}" height="200px" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ food.Name }}</h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4 offset-1">
                <h2 style="text-align: center;">Un peu de musique ?</h2>
                {% for i in range(0,1) %}
                    <div class="row">
                        <div class="col-12">
                            <a href="{{ music.url }}">{{ music.Title }} - {{ music.Artist }}</a>
                            <div style="height: 200px; border: 1px solid black;">p</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-4 offset-6">
                <h2 style="text-align: center;">Une Webcam au hasard</h2>

                <a name="windy-webcam-timelapse-player" data-id="1463700399" data-play="day"
                   href="https://windy.com/webcams/1463700399" target="_blank">Égletons: Egletons</a>
                <script async type="text/javascript"
                        src="https://webcams.windy.com/webcams/public/embed/script/player.js"></script>
            </div>
        </div>


        <div class="row" style="height: 600px; width: 600px;">
            <div class="col-12">
                <h2 style="text-align: center;">Une petite balade ?</h2>
                <div id="street_view"></div>
            </div>
        </div>

    </section>
{% endblock %}

{% block javascripts %}
    <script>
        let panorama;

        function initialize() {
            panorama = new google.maps.StreetViewPanorama(
                document.getElementById('street_view'),
                {
                    position: {lat: {{ country.lat }}, lng: {{ country.long }}},
                    pov: {heading: 165, pitch: 0},
                    zoom: 1
                });
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqeJ3DM3pEmmI5Qyt_qwaqFwhXJUag9Rs&callback=initialize">
    </script>
    {#    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCN5Xou67tRIPRc31tgVd2yY9SQFhaJpUw&callback=initMap"#}
    {#            async defer></script>#}
{% endblock %}
