{% extends 'layout.html.twig' %}

{% block content %}
    <main>
        <!--BANNER PICTURE-->
        <div class="museum-banner-container">
            <div class="museum-banner-image">
                <img src="/assets/images/museum/{{ museum.image }}">
            </div>
            <div class="museum-tilte">
                <h2>{{ museum.name }}</h2>
            </div>
        </div>
        <!--DESCRIPTION, VIDEO AND STREET VIEW-->
        <div class="museum-first-block">
            <div class="museum-description">
                <p>{{ museum.description }}</p>
            </div>
            <div class="museum-video">
                <iframe src="{{ museum.video }}" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            <div class="museum-street-view">
                <div class="museum-map" id="street-view"></div>
            </div>
        </div>
        <!--CAM SECTION-->
        <div class="museum-second-block">
            <div class="museum-container-webcams-first">
                <div class="museum-cam">
                    <a name="windy-webcam-timelapse-player" data-id="{{ museum.cam1 }}" data-play="day"
                       href="https://windy.com/webcams/{{ museum.cam1 }}" target="_blank">.</a>
                </div>
            </div>
            <div class="museum-container-webcams">
                <div class="museum-cam">
                    <a name="windy-webcam-timelapse-player" data-id="{{ museum.cam2 }}" data-play="day"
                       href="https://windy.com/webcams/{{ museum.cam2 }}" target="_blank">.</a>
                </div>
            </div>
            <div class="museum-container-webcams">
                <div class="museum-cam">
                    <a name="windy-webcam-timelapse-player" data-id="{{ museum.cam3 }}" data-play="day"
                       href="https://windy.com/webcams/{{ museum.cam3 }}" target="_blank">.</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script>
    var panorama;
    function initialize() {
        panorama = new google.maps.StreetViewPanorama(
            document.getElementById('street-view'),
            {
                position: {lat: {{ museum.lati }}, lng: {{ museum.longi }}},
                pov: {heading: 165, pitch: 0},
                zoom: 1
            });
    }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCN5Xou67tRIPRc31tgVd2yY9SQFhaJpUw&callback=initialize">
        </script>
        <script async type="text/javascript"
    src="https://webcams.windy.com/webcams/public/embed/script/player.js"></script>
{% endblock %}